body {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  margin: 40px;
  background-color: #f4e6ff;
  color: #333;
}

h1, h2 {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  color: #0066cc;
  /* text-align: center; */
}

img {
  width: 200px;
  border-radius: 10px;
  float: right;
}

#about-me {
  /* background: #e0f0ff;
  padding: 15px;
  border: 1px solid #0066cc; */
  text-align: center;
}

#expert-topics {
  font-family: "Century Gothic", CenturyGothic, sans-serif;
  /* background: #d0c2e3;
  padding: 15px;
  border: 1px solid #6100ea; */
}